<!DOCTYPE html>
<html>
<head>
  <title>MyEng</title>
  <%= stylesheet_link_tag    "my_eng/application", media: "all" %>
  <%= javascript_include_tag "my_eng/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
